<!DOCTYPE HTML>
<html data-ng-app='QuantumAnimation'>
<head>
<meta charset="utf-8">
<link rel="stylesheet" href="quantumAnimation.css" />
<title>Quantum Gate Playground</title>
</head>

<body data-ng-controller='QuantumAnimationController'>

<h1>Quantum Computer Gate Playground</h1>

<p>
    Intended to help quantum computation students explore and play with
    a number of different quantum computer gates.
</p>

<p>
    The blue discs represent basis state amplitudes:
    for a given amplitude,
    the radius is its magnitude and arrow direction is its phase.
    When performing operations like the Hadamard and QFT operations,
    the discs are animated in a manner that shows states being split
    and recombined (arrow head joined to arrow tail),
    demonstrating constructive and destructive interference.
</p>

<div data-ng-cloak>
    <div>
        <label for="numBits">Number of qubits:</label>
        <select id="numBits" data-ng-model='numBitsSelected' data-ng-change="onChangeNumBits()">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
        </select>
    </div>
    
    <form data-ng-submit="performOperation()">
    <fieldset class="quantumOpSpecification">
    <legend>Specify the operation to be performed</legend>
    <div class="quantumOpSpecification_item">
        <label class="quantumOpSpecification_label"  for="operation">Operator:</label>
        <select name="operationId" id="operation"
            data-ng-model='operationIndex' data-ng-change="onChangeOperation()">
            <option data-ng-repeat='operation in operations' ng-value="$index"
                data-ng-bind='operation.name'>
            </option>
        </select>
    </div>
    
    <div class="quantumOpSpecification_item"
        data-ng-show="numBits &gt; 1"
        data-ng-class="{quantumOpSpecification_item_disabled: controlBitsDisabled}">
        <label class="quantumOpSpecification_label">Control bits:</label>
        <span data-ng-hide="controlBitsDisabled">
            <span data-ng-repeat='bitLabel in bitLabels'>
                <label ng-bind='bitLabel' for="control{{bitLabel}}"
                    class="quantumOpSpecification_checkboxLabel"></label>
                <input type="checkbox" id='control{{bitLabel}}'
                    data-ng-model='controlBits[bitLabel]'
                    data-ng-disabled="controlBitsDisabled"
                    data-ng-change="onChangeControlBits()"/>
            </span>
        </span>
        <span data-ng-show="controlBitsDisabled">N/A</span>
        <span data-ng-show="operation.op === 'qft'">
            Not supported yet for QFT.
        </span>
    </div>
    <div class="quantumOpSpecification_item"
        data-ng-show="numBits &gt; 1"
        data-ng-class="{quantumOpSpecification_item_disabled: targetBitsDisabled}">
        <label class="quantumOpSpecification_label">Target bits:</label>
        <span data-ng-repeat='bitLabel in bitLabels'>
            <label ng-bind='bitLabel' for="target{{bitLabel}}"
                class="quantumOpSpecification_checkboxLabel"></label>
            <input type="checkbox" id='target{{bitLabel}}'
                data-ng-model='targetBits[bitLabel]'
                data-ng-disabled="targetBitsDisabled"
                data-ng-change="onChangeTargetBits()"/>
        </span>
        <button type="button" data-ng-click='selectAllAsTargetBits()'>All Non-Control Bits</button>
    </div>
    
    <div class="quantumOpSpecification_item"
        data-ng-class="{quantumOpSpecification_item_disabled: !operation.takesRotationAngle}">
        <label for="rotationAngle">Rotation angle:</label>
        <span data-ng-show="operation.takesRotationAngle">
            <input type="number" name="rotationAngle" id="rotationAngle"
                data-ng-model="rotationAngle" data-ng-disabled="!operation.takesRotationAngle"/>
            <input type="radio" id="rotationUnitsDegrees" data-ng-model="rotationUnits" value="degrees"/>
            <label for="rotationUnitsDegrees">Degrees</label>
            <input type="radio" id="rotationUnitsRadians" data-ng-model="rotationUnits" value="radians"/>
            <label for="rotationUnitsRadians">Radians</label>
        </span>
        <span data-ng-hide="operation.takesRotationAngle">N/A</span>
    </div>
    
    <div class="quantumOpSpecification_item">
        <input type="submit" data-ng-disabled="!validInputs()" value="Perform Operation"></input>
    </div>
    
    </fieldset>
    
     <output class="qstate"
         data-ng-class="{qstate__singlequbit: numBits === 1}"
        data-ng-bind='animatedQubitsContainer.qstate'></output>
    
    </form>
    
    <svg id='animatedQubitsSvg' data-animated-qubits='animatedQubitsContainer'
        class='animatedQubits'
        data-ng-class="{animatedQubits__singlequbit: numBits === 1}">
    </svg>

</div>

<p>
    Built using the
    <a href="http://davidbkemp.github.io/animated-qubits">animated-qubits</a>
    and
    <a href="http://davidbkemp.github.io/jsqubits">jsqubits</a>
    JavaScript libraries.
</p>

<p>
    You may also be interested in this
    <a href="http://davidbkemp.github.io/animated-qubits/grover.html">animation of Grover&apos;s Search Algorithm</a>.
</p>

<p>
<small>Copyright (c) 2013-2014 David Kemp</small>
</p>

<div data-ng-hide="true">
    Loading. This may take a few seconds.....
</div>

<!--TODO: Work out how to use angular with https://npmjs.org/package/angular-->
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.10/angular.min.js"></script>
<script src="index.min.js"></script>

<script src="browserSupportDetection.js"></script>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-46830069-1', 'davidbkemp.github.io');
  ga('send', 'pageview');

</script>

</body>
</html>